*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #dbd7d7;
}

.content{
   width: 100vw;
     height: 100vh;
    padding: 1rem;
   background-color: #fff;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }
  }

/*.content h1{
    margin: 0;
}

.pokemon-card{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

*/
